Setting up

In [ ]:
sudo apt update
sudo apt upgrade
sudo apt install mariadb-server
sudo mysql_secure_installation

access mysql

In [ ]:
sudo mysql -u root -p
[type whatever pw u set]

create a database and go into it.

In [ ]:
create database proj;
use proj;

create table

In [ ]:
CREATE TABLE your_table_name (
    username TEXT,
    timeStart TIME,
    image LONGBLOB,
    duration INT,
    eyeDist INT
);

now we cn insert into the table with python

In [ ]:
pip install mysql-connector-python

In [ ]:
import mysql.connector

# Establish connection to the database
db_connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to execute SQL queries
cursor = db_connection.cursor()

# Define the SQL query to insert data into the table
insert_query = "INSERT INTO your_table_name (username, timeStart, image, duration, eyeDist) VALUES (%s, %s, %s, %s, %s)"

# Sample data to insert
username = "sample_username"
timeStart = "12:00:00"
image = b'\x00\x01\x02\x03'  # Example binary data
duration = 60
eyeDist = 5

# Execute the SQL query
cursor.execute(insert_query, (username, timeStart, image, duration, eyeDist))

# Commit the transaction
db_connection.commit()

# Close the cursor and database connection
cursor.close()
db_connection.close()

For RPI400, must run in env and cannot use root user.